.color-group1 {background-color: #175279;color: #fff;}
.color-group2 {background-color: #5599ee;color: #fff;}
.color-group3 {background-color: #ff8844;}
.color-group4 {background-color: #92a77e;}
.color-group5 {background-color: #0088cc;color: #fff;}
.color-group6 {background-color: #c8cf82;}
.color-group7 {background-color: #767676;color:#fff}
.color-group8 {background-color: #aacc22;}
.color-group9 {background-color: #ddbb33;}
.color-group10 {background-color: #aa6688;color:#fff;}
.color-group11 {background-color: #ffee55;}
.color-group12 {background-color: #d3a76d;}
.color-group13 {background-color: #557777;color:#fff;}
.color-group14 {background-color: #a9834b;color:#fff;}
.color-group15 {background-color: #ffff99;}
.color-group16 {background-color: #ff6611;}
.color-group17 {background-color: #fefe38;}
.color-group18 {background-color: #bbdd77;}
.color-group19 {background-color: #ff1417;color:#fff;}
.color-group20 {background-color: #226688;color:#fff;}
